body,
.section-shop,
.product-tags,
.product-table {
    display: flex;
    flex-direction: column;
}

header,
.main-nav,
.options-menu,
.section-main-product,
.table-row,
.product-to-cart,
.related-products,
.section-shop-navigation,
.btn-shop-navigation,
.bottom-nav,
.copyrights,
.social-list {
    display: flex;
    flex-direction: row;
}

/* Header */

header h3 {
    flex: 1;
}

/* Shop */

.section-shop {
    align-self: center;
}

/* Main Product */

.main-product img {
    flex: 2 40%;
}

.product-shop-functions {
    flex: 3 60%;
}

.social-list {
    list-style-type: none;
    padding: 0;
    li {
        display: inline-block;
        margin-right: 16px; 
    }
}

/* Shop navigation */

.section-shop-navigation {
    align-content: stretch;
    justify-content: space-between;
}

.btn-shop-navigation {
    flex: 1;
    justify-content: center;
}

/* Footer */

.main-footer-column {
    flex: 1;
}

.copyrights {
    justify-content: space-around;
}