body {
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.01);
	font-family: Poppins;
	margin: 0;
	font-size: $base-text-size;
	color: $base-text-color;
}

h1,
h2,
h3,
h4,
h5 {
	color: $header-color;
	font-size: $header-text-size;
}

h1 {
	font-size: $product-name-text-size;
	margin-top: 0;
}

h3 {
	text-transform: uppercase;
}

.nav-item {
	font-weight: bold;
	text-transform: uppercase;
}

/* No number input spinners */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}