.main-footer,
.main-footer h3 {
    background: $footer-nav-background;
    color: $footer-text-color;
}

.bottom-nav {
    margin: 0 auto;
}

.main-footer-column {
    padding: $footer-margin-top $footer-margin-side;
    ul {
        list-style-type: none;
        padding: 0;
        li {
            display: inline;
            border: $tag-border;
            padding: 0 8px;
            margin: 0 4px;
            border-radius: $base-border-radius;
            line-height: 300%;
        }
    }
}

.copyrights {
    background: $footer-background;
}