.company-name {
    text-transform: lowercase;
    font-weight: bolder;
    padding: $base-padding;
}

.company-name {
    font-size: $company-name-text-size;
}

header {
    box-shadow: 0px 10px 11px $box-shadow-color;
    margin-bottom: $section-margin;
}

header a {
    text-decoration: none;
    color: $base-text-color;
}

.options-menu {
    border-left: $section-divider;
}

.options-menu,
.main-nav {
    padding: $base-padding;
}

.company-name,
.nav-item,
.options-menu i {
    margin: auto $base-padding;
}