.section-shop,
.bottom-nav {
    max-width: $shop-width;
}

img {
    // TODO calculate max-width % too
    max-width: 537px;
    max-height: 716px;
    object-fit: contain;
    margin-right: $main-product-column-margin;
}

.product-shop-functions {
    margin-left: $main-product-column-margin
}

#input-quantity {
    text-align: center;
    border-radius: $base-border-radius;
}

.btn-add-to-cart {
    background: $btn-add-to-cart-background;
    border: none;
    border-radius: $base-border-radius;
    color: $btn-add-to-cart-text-color;
    width: $shop-functions-second-width;
}

#input-quantity,
.tag-type {
    width: $shop-functions-first-width;
    margin-right: $base-padding;
}

#input-quantity,
.btn-add-to-cart {
    height: $btn-height;
}

.tag-type {
    font-weight: bold;
}

h2 {
    font-size: $prize-text-size;
}

.main-section {
    border-bottom: $section-divider;
    padding: $section-margin 0;
}

.section-related-products h5 {
    font-size: $related-product-text-size;
}