.section-related-products h3 {
    text-align: center;
}

.r-product {
    img {
        max-width: $related-product-width;
    }
    h5 {
        text-align: center;
        span {
            display: block;
            text-align: center;
        }
    }
}