.section-shop-navigation {
    background: $shop-nav-background;
    height: $shop-nav-height;
}

.btn-shop-navigation {
    padding: $base-padding;
    div {
        padding: 0 $base-padding;
    }
}