/* Colors */
/* Dimens */
/* Borders */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.01);
  font-family: Poppins;
  margin: 0;
  font-size: 16px;
  color: #777;
}

h1,
h2,
h3,
h4,
h5 {
  color: #303133;
  font-size: 12px;
}

h1 {
  font-size: 35px;
  margin-top: 0;
}

h3 {
  text-transform: uppercase;
}

.nav-item {
  font-weight: bold;
  text-transform: uppercase;
}

/* No number input spinners */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body,
.section-shop,
.product-tags,
.product-table {
  display: flex;
  flex-direction: column;
}

header,
.main-nav,
.options-menu,
.section-main-product,
.table-row,
.product-to-cart,
.related-products,
.section-shop-navigation,
.btn-shop-navigation,
.bottom-nav,
.copyrights,
.social-list {
  display: flex;
  flex-direction: row;
}

/* Header */
header h3 {
  flex: 1;
}

/* Shop */
.section-shop {
  align-self: center;
}

/* Main Product */
.main-product img {
  flex: 2 40%;
}

.product-shop-functions {
  flex: 3 60%;
}

.social-list {
  list-style-type: none;
  padding: 0;
}
.social-list li {
  display: inline-block;
  margin-right: 16px;
}

/* Shop navigation */
.section-shop-navigation {
  align-content: stretch;
  justify-content: space-between;
}

.btn-shop-navigation {
  flex: 1;
  justify-content: center;
}

/* Footer */
.main-footer-column {
  flex: 1;
}

.copyrights {
  justify-content: space-around;
}

.company-name {
  text-transform: lowercase;
  font-weight: bolder;
  padding: 16px;
}

.company-name {
  font-size: 24px;
}

header {
  box-shadow: 0px 10px 11px #e9e9e9;
  margin-bottom: 36px;
}

header a {
  text-decoration: none;
  color: #777;
}

.options-menu {
  border-left: 1px solid #eaeaea;
}

.options-menu,
.main-nav {
  padding: 16px;
}

.company-name,
.nav-item,
.options-menu i {
  margin: auto 16px;
}

ul {
  list-style: none;
}
ul li {
  text-transform: uppercase;
}

.section-shop,
.bottom-nav {
  max-width: 1200px;
}

img {
  max-width: 537px;
  max-height: 716px;
  object-fit: contain;
  margin-right: 32px;
}

.product-shop-functions {
  margin-left: 32px;
}

#input-quantity {
  text-align: center;
  border-radius: 3px;
}

.btn-add-to-cart {
  background: #303133;
  border: none;
  border-radius: 3px;
  color: white;
  width: 160px;
}

#input-quantity,
.tag-type {
  width: 100px;
  margin-right: 16px;
}

#input-quantity,
.btn-add-to-cart {
  height: 47px;
}

.tag-type {
  font-weight: bold;
}

h2 {
  font-size: 29px;
}

.main-section {
  border-bottom: 1px solid #eaeaea;
  padding: 36px 0;
}

.section-related-products h5 {
  font-size: 14px;
}

.section-related-products h3 {
  text-align: center;
}

.r-product img {
  max-width: 269px;
}
.r-product h5 {
  text-align: center;
}
.r-product h5 span {
  display: block;
  text-align: center;
}

.section-shop-navigation {
  background: #f7f7f7;
  height: 72px;
}

.btn-shop-navigation {
  padding: 16px;
}
.btn-shop-navigation div {
  padding: 0 16px;
}

.main-footer,
.main-footer h3 {
  background: #1b1d1f;
  color: #fff;
}

.bottom-nav {
  margin: 0 auto;
}

.main-footer-column {
  padding: 72px 16px;
}
.main-footer-column ul {
  list-style-type: none;
  padding: 0;
}
.main-footer-column ul li {
  display: inline;
  border: 1px white solid;
  padding: 0 8px;
  margin: 0 4px;
  border-radius: 3px;
  line-height: 300%;
}

.copyrights {
  background: #141618;
}

/*# sourceMappingURL=style.css.map */
