/* Colors */

$base-text-color: #777;
$header-color: #303133;

$section-divider-color: #eaeaea;
$box-shadow-color: darken($section-divider-color, 0.50);

$btn-add-to-cart-background: #303133;
$btn-add-to-cart-text-color: white;

$shop-nav-background: #f7f7f7;

$footer-nav-background: #1b1d1f;
$footer-background: #141618;
$footer-text-color: #fff;

/* Dimens */

$base-padding: 16px;
$section-margin: 36px;
$main-product-column-margin: 32px;
$footer-margin-top: 72px;
$footer-margin-side: 16px;

$company-name-text-size: 24px;
$header-text-size: 12px;
$base-text-size: 16px;
$product-name-text-size: 35px;
$prize-text-size: 29px;
$header-text-size: 12px;
$related-product-text-size: 14px;
$shop-nav-text-size: 12px;
$footer-text-size: 12px;

$shop-width: 1200px;
$shop-functions-first-width: 100px;
$shop-functions-second-width: 160px;
$btn-height: 47px;
$related-product-width: 269px;
$shop-nav-height: 72px;

$base-border-radius: 3px;

/* Borders */

$tag-border: 1px white solid;
$section-divider: 1px solid $section-divider-color;